// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

//Modifying sizing variables
@import "node_modules/bootstrap/scss/_variables.scss";



//Merge sizes & cutsom-sizes

$sizes: map-merge($sizes, 
    $custom-sizes: (
        $w-90: 90%)
);

//enabling negative margins
$enable-negative-margins: true;