body {

    /*Background Gradient*/
    background: transparent url('Assets/Images/Gradient Background.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;

    overflow: auto;
    margin: 0;
}


.companyName {
    display: flex;
    position: relative;
    font-family: raleway, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2.5rem;

    opacity: 1;
}

.hidden {
    display: none;
}

#wrappedToken {
    max-height: 38.625rem; 
}

/*adjusting line height*/
.mainBlock {
    text-align: left;
    line-height: 1.5rem;
    height: 10%;
    
}

.firstLine {
    font-family: raleway, sans-serif;
    font-weight: 700;
    color: white;
    font-size: 4.375rem;
}

.secondLine {
    font-family: raleway, sans-serif;
    font-weight: 700;
    color: white;
    font-size: 4.375rem;
}


.explainerParagraph {
    text-align: left;
    font: normal normal 600 1.688rem/2.5rem Raleway;
    font-size: 1.25rem;
    color: #BFBFBF;
    opacity: 1;
}

.explainerParagraph p{
    line-height: 150%;
}


.aligningPageContent::after {
    content: "";
    clear: both;
    display: table;
}

.aligningPageContent
{
    margin-top: 3%;
}
#email {

    background: transparent;
    border: none;
    text-align: left;
    font: normal normal 600 29px/34px Raleway;
    font-size: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#email-input {

    width: 97%;
    text-align: left;
    font: normal normal 600 29px/34px Raleway;
    font-size: 1.25rem;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}



#email:focus {
    outline: none;
}

.submitButton {
    
    display: inline-block;
    position: relative;
}

/* Submit button */

#submit {
    
    display: inline;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    border: none;
    float: right;

    background: #39A0EF 0% 0% no-repeat padding-box;
    text-align: center;
    font-family: raleway, sans-serif;
    font-size: 125%;
    font-weight: bold;
    color: #FFFFFF;
    
    opacity: 0.7;
}
#sumbitBtn
{
    
    height: 4.5vh;
    width: 3.3vw;
    display: inline-block;
    margin-left: -9%;
    margin-top: 1%;
    border-radius: 50%;
    background: #39A0EF;
    font-family: raleway, sans-serif;
    font-size: 125%;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

#submit:hover
{
    height: 2.3em;
    min-width: 2.3em;
    font-size: 125%;
  font-weight: bold;
  opacity: 1;
  background-color: #39A0EF;
  
}


