@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

html {
  font-size: 12px;
  @screen md {
    font-size: 15px;
  }
  @screen lg {
    font-size: 18px;
  }
  @screen xl {
    font-size: 21px;
  }
  @screen 2xl {
    font-size: 24px;
  }
}