@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

html {
  font-size: 11px;
  @screen sm {
    font-size: 13px;
  }
  @screen md {
    font-size: 19px;
  }
}